.HTML{
    height: 100%; 
    width: 100%;
}


.Container__Header {
    width: 100%;
    height: 50px;
    background-color: #1d2732;
    display: flex;
    gap: 15px;
    align-items: center;
}

.Container__Header__link{
    color: white;
    text-decoration:none;
}

.Container__Header__link--left{
    margin-left: 50px;
}

.Container__Header__link:hover {
    color: aqua;
    text-decoration: underline;
}



.Container {
    background: #f0f4f9;
    color: black;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: Arial;
    font-weight: 500;
}

.Container__Page {
    width: 100%;
    height: 90%;
}

.Container__Page__Renderer {
    width: 100%;
    height: 100%;
}


.LoginIn {
    width: 100%;
    height: 100%;
    display: flex;
}

.Form__Container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    padding: 15px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.Form__Title {
    text-align: center;
    background-color: #eeeeee;
    padding: 10px;
}

.Form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Form__label {
    font-size: 20px;
}

.Form__Input{
    
}

.Form__Container__Button {
    height: 70px;
    display: flex;
    background-color: #eeeeee;
}

.Form__Button {
    margin: auto;
    height: 40px;
    width: 50%;
    background-color: #429b45;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}


.Unauthorized__Container{
    text-align: center;
}


.UserInfo__Container{
    text-align: center;
}

